<html>
	<head><title>My node js Weather app</title>

	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styling.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	
		{{>header}}
		<div class="container" style="margin-top:10%">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<h3>I am a Full Stack Developer.</h3>
					<br/>
				

				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<img style="width:400px"  src="https://res.cloudinary.com/practicaldev/image/fetch/s--xq8xxUmL--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://external-preview.redd.it/x7vVnP3L75Wh4ApmXedKjze9b7ZuH5h7oW-4xbHMiHQ.jpg%3Fauto%3Dwebp%26s%3Db7d6873eed8c442bb685a083b3b4bfff6dd009ac"/>

				</div>
			</div>
		</div>
		<div class="container" style="margin-top:7%">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<img style="width:400px"  src="https://wallpapercave.com/wp/wp3205204.jpg"/>
					<br/>
				
				

				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<br/><br/><br/>
						<h3 style>I am Machine Learning Enthusiast.</h3>

				</div>
			</div>
		</div>
		{{>footer}}
	
	

	<script type="text/javascript">
		

	</script>
	</body>
</html>