<html>
	<head><title>My node js Weather app</title>

	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styling.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{{>header}}
		<div class="container" style="margin-top:8%">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<h1>Welcome to the Weather Website<br/>Made by <span style="color:dodgerblue">Node JS</span></h1>
					<br/>
					<a href="weather" class="btn btn-primary">Check</a>

				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<img  src="https://i.pinimg.com/originals/53/32/38/533238dd9a8ebfeaf7a8f4d4c2cabab6.gif"/>

				</div>
			</div>
		</div>
		{{>footer}}

	<script type="text/javascript">
		

	</script>
	</body>
</html>